.dot {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid #ffffff55;
  z-index: 1040;
  pointer-events: none;
  backdrop-filter: invert(100%);
}

