
#header {
    animation: anima 1s;
}

@keyframes anima {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px);
    }
}

.underAnim {
    animation: widthAnim 0.5s;
}

@keyframes widthAnim {
    0% {
        width: 0px;
    }
    100% {
        width: 80%;
    }
}

.underBack {
    visibility: hidden;
}

.heading:hover .underBack {
    visibility: visible;
}