@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f6f5f5;
  user-select: none;
  scroll-behavior: smooth;
  /* cursor: none; */
}

input[type="checkbox"] {
  accent-color: dodgerblue;
}

code {
  font-family: Inter;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* For scrollbar css */

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::-webkit-scrollbar-track {
  /* background: #f1f1f1;  */
}

::-webkit-scrollbar-thumb {
  background: #d1d1e0;
  width: 2px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b0b0bd;
  border-radius: 10px;
}

.scroller:hover {
  scrollbar-color: #dbdbe8 transparent;
  scrollbar-width: thin;
  scrollbar-gutter: inherit;
}

.scroller {
  scrollbar-color: #dbdbe8 transparent;
  scrollbar-width: thin;
  scrollbar-gutter: unset;
}

.circle {
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  pointer-events: none;
}

.reveal{
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}


.parallax-one {
  width: 100%;
  background-image: url('./assets/images/desk_photo.jpeg');
  height: 100vh;
/*   background-image: url('https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg'); */
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: blur(13px);
}
